{
  "openapi": "3.0.0",
  "info": {
    "title": "EPD - Enhanced Peer Dependencies",
    "version": "1.4.0",
    "description": "A smart CLI tool that intelligently resolves peer dependency conflicts across npm, yarn, and pnpm projects.",
    "contact": {
      "name": "EPD Support",
      "url": "https://github.com/davitacols/epd"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/davitacols/epd/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.epd.dev",
      "description": "EPD API Server"
    }
  ],
  "paths": {
    "/install": {
      "post": {
        "summary": "Install Dependencies",
        "description": "Install dependencies with enhanced peer dependency resolution",
        "tags": ["Core Commands"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstallRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Installation successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallResponse"
                }
              }
            }
          }
        }
      }
    },
    "/resolve": {
      "post": {
        "summary": "Smart Conflict Resolution",
        "description": "Resolve peer dependency conflicts using intelligent algorithms",
        "tags": ["Core Commands"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conflicts resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveResponse"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Dependency Health Analysis",
        "description": "Analyze dependency health scores",
        "tags": ["Analysis"],
        "parameters": [
          {
            "name": "score",
            "in": "query",
            "description": "Include health scores",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "recommendations",
            "in": "query",
            "description": "Include recommendations",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Health analysis complete",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/scan": {
      "get": {
        "summary": "Scan for Unused Dependencies",
        "description": "Identify unused dependencies in the project",
        "tags": ["Analysis"],
        "responses": {
          "200": {
            "description": "Scan complete",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanResponse"
                }
              }
            }
          }
        }
      }
    },
    "/security": {
      "get": {
        "summary": "Security Vulnerability Scan",
        "description": "Scan for security vulnerabilities",
        "tags": ["Security"],
        "responses": {
          "200": {
            "description": "Security scan complete",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/licenses": {
      "get": {
        "summary": "License Compliance Check",
        "description": "Check license compatibility",
        "tags": ["Compliance"],
        "responses": {
          "200": {
            "description": "License check complete",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/optimize": {
      "post": {
        "summary": "Workspace Optimization",
        "description": "Optimize workspace dependencies",
        "tags": ["Optimization"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OptimizeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Optimization complete",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptimizeResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "InstallRequest": {
        "type": "object",
        "properties": {
          "packages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Packages to install"
          },
          "packageManager": {
            "type": "string",
            "enum": ["npm", "yarn", "pnpm"],
            "description": "Package manager to use"
          },
          "debug": {
            "type": "boolean",
            "description": "Enable debug mode"
          }
        }
      },
      "InstallResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "installed": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "conflicts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conflict"
            }
          }
        }
      },
      "ResolveRequest": {
        "type": "object",
        "properties": {
          "conflicts": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "strategy": {
            "type": "string",
            "enum": ["smart", "stable", "ai"],
            "default": "smart"
          }
        }
      },
      "ResolveResponse": {
        "type": "object",
        "properties": {
          "resolutions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SmartResolution"
            }
          }
        }
      },
      "SmartResolution": {
        "type": "object",
        "properties": {
          "package": {
            "type": "string"
          },
          "resolvedVersion": {
            "type": "string"
          },
          "strategy": {
            "type": "string",
            "enum": ["popularity", "stability", "compatibility"]
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "scores": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HealthScore"
            }
          }
        }
      },
      "HealthScore": {
        "type": "object",
        "properties": {
          "package": {
            "type": "string"
          },
          "score": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "factors": {
            "type": "object",
            "properties": {
              "maintenance": {
                "type": "number"
              },
              "security": {
                "type": "number"
              },
              "popularity": {
                "type": "number"
              },
              "compatibility": {
                "type": "number"
              }
            }
          },
          "recommendations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ScanResponse": {
        "type": "object",
        "properties": {
          "unused": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/PackageInfo"
            }
          },
          "potentiallyUnused": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/PackageInfo"
            }
          },
          "total": {
            "type": "number"
          },
          "scannedFiles": {
            "type": "number"
          }
        }
      },
      "SecurityResponse": {
        "type": "object",
        "properties": {
          "issues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SecurityIssue"
            }
          }
        }
      },
      "SecurityIssue": {
        "type": "object",
        "properties": {
          "package": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "severity": {
            "type": "string",
            "enum": ["low", "moderate", "high", "critical"]
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "LicenseResponse": {
        "type": "object",
        "properties": {
          "compatible": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LicenseInfo"
            }
          },
          "incompatible": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LicenseInfo"
            }
          },
          "unknown": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LicenseInfo"
            }
          },
          "summary": {
            "type": "object",
            "properties": {
              "total": {
                "type": "number"
              },
              "compatible": {
                "type": "number"
              },
              "risks": {
                "type": "number"
              }
            }
          }
        }
      },
      "LicenseInfo": {
        "type": "object",
        "properties": {
          "package": {
            "type": "string"
          },
          "license": {
            "type": "string"
          },
          "compatible": {
            "type": "boolean"
          },
          "risk": {
            "type": "string",
            "enum": ["low", "medium", "high"]
          }
        }
      },
      "OptimizeRequest": {
        "type": "object",
        "properties": {
          "strategy": {
            "type": "string",
            "enum": ["hoist", "dedupe"],
            "default": "hoist"
          }
        }
      },
      "OptimizeResponse": {
        "type": "object",
        "properties": {
          "hoisted": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "deduped": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "savings": {
            "type": "object",
            "properties": {
              "packages": {
                "type": "number"
              },
              "sizeMB": {
                "type": "number"
              }
            }
          }
        }
      },
      "PackageInfo": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["dependency", "devDependency", "peerDependency", "optionalDependency"]
          },
          "requiredBy": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Conflict": {
        "type": "object",
        "properties": {
          "package": {
            "type": "string"
          },
          "versions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "resolved": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Core Commands",
      "description": "Essential EPD commands for dependency management"
    },
    {
      "name": "Analysis",
      "description": "Dependency analysis and scanning tools"
    },
    {
      "name": "Security",
      "description": "Security vulnerability detection"
    },
    {
      "name": "Compliance",
      "description": "License and compliance checking"
    },
    {
      "name": "Optimization",
      "description": "Workspace and dependency optimization"
    }
  ]
}